body {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;  
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100vh;  
}



header.jumbotron {
    height: 420px;
    color: #fff;
    padding: 2rem 1rem;
    margin-bottom: 0;
   
}

/* Estilo CSS para a imagem de fundo */
.background-image {
    background-image: url("https://a.storyblok.com/f/90801/1920x600/d5fcdc8698/code-banner.png/m/");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

footer {
    background: #333;
    color: #fff;
}


/* Media queries para telas menores */
@media (max-width: 768px) {
    .background-image {
        background-position: top;
        height: auto;
        
    }
}

@media (max-width: 320px) {
    .background-image {
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        height: auto;
        width: 100%;
    }
}